<section class="md-whiteframe-z1 users">
    <md-list ng-cloak>
        <md-subheader class="md-no-sticky">{{json.title}}</md-subheader>
        <md-divider></md-divider>
    </md-list>

    <form name="plan" class="padlr16">
        <md-input-container class="md-block" ng-repeat="field in json.fields">
            <div ng-if="field.type=='hidden'">
                <input ng-model="json.editData[field.model]" type="{{field.type}}" name="{{field.name}}" id="{{field.id}}">
            </div>
            <div ng-if="field.type=='text' || field.type=='email'">
                <label>{{field.name}}</label>
                <input ng-model="json.editData[field.model]" type="{{field.type}}" name="{{field.name}}" id="{{field.id}}">
            </div>

            <div ng-if="field.type=='textarea'">
                <label>{{field.name}}</label>
                <textarea style="height:100px;" ng-model="json.editData[field.model]" name="{{field.name}}" id="{{field.id}}"></textarea>
            </div>
            <div ng-if="field.type=='tinymce'">
                <label>{{field.name}}</label>
                <textarea style="height:100px;" ng-model="json.editData[field.model]" ui-tinymce ></textarea>
            </div>
            <div ng-if="field.type=='date'">

                <label>{{field.name}}</label>
                <input type="date" ng-model="json.editData[field.model]">
            </div>

            <div ng-if="field.type=='readonly'">
                <label>{{field.name}}</label>
                <input ng-model="json.editData[field.model]" type="text" readonly="true" name="{{field.name}}" id="{{field.id}}">
            </div>
            <div ng-if="field.type=='chips'">
                  <span ng-if="field.givecomment && field.givecomment !=''">{{field.givecomment}}</span>
                    <label for="">{{field.name}}</label>
                    <md-chips ng-model="json.editData[field.model]" ng-if="json.editData[field.model]"></md-chips>
                    <br/>
                </div>
            <!-- // SELECT -->
            <!-- <div ng-if="field.type=='selectFromTable'">

                <label for="{{field.id}}">{{field.name}}</label>
                <br>
                <select style="width: 100%;border: none;background: #fff;border-bottom: 1px solid rgb(225, 225, 225);margin-top: 10px; padding2px;" ng-model="json.editData[field.model]">{{json.editData[field.model]}}
                    <option value="">SELECT</option>
                    <option ng-repeat="item in field.dropdownvalues track by $index" value="{{item._id}}" ng-selected="{{ item.name.Selected == true }}">
                        {{item.name}}
                    </option>
                </select>
                <br>
            </div> -->

            <!-- // SELECT FROM TABLE-->
            <!-- // SELECT FROM TABLE -->
                <div ng-if="field.type=='selectFromTable'">
                  <label for="{{field.id}}">{{field.name}}</label>
                  <br>
                  <div ng-if="field.option=='multiple'">
                    <md-select style="margin: 0 !important;" ng-model="json.editData[field.model]" multiple>
                      <md-optgroup>
                        <md-option ng-repeat="item in field.dropdownvalues track by $index" value="{{item._id}}" ng-selected="{{ item.name.Selected == true }}">{{item.name}}</md-option>
                      </md-optgroup>
                    </md-select>
                  </div>
                  <div ng-if="field.option=='single'">
                    <md-select style="margin: 0 !important;" ng-model="json.editData[field.model]">
                      <md-optgroup>
                        <md-option ng-repeat="item in field.dropdownvalues track by $index" value="{{item._id}}" ng-selected="{{ item.name.Selected == true }}">{{item.name}}</md-option>
                      </md-optgroup>
                    </md-select>
                  </div>
                  <br>
                </div>
            <div ng-if="field.type=='image'">
                <label for=""></label>{{field.name}}
                <span class="img-holder-big" ng-show="json.editData[field.model] || (field.model || field.model!='')">
                    <img ng-src="{{json.editData[field.model] | uploadpath:250:250:'fill'}}">
                </span>
                <span style="float: right;">{{field.size}}</span>
                <md-button class="md-raised md-primary" ng-click="removeImage('edit',field.model,field)">Remove Image</md-button>
                <upload-image ng-model="json.editData[field.model]" no-view></upload-image>

            </div>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click="makeReadyForApi()" ng-class="{'disabled' : !plan.$valid }">Save</md-button>
            <md-button class="md-raised md-warn" ng-click="back()">Cancel</md-button>
        </section>

    </form>
</section>
